[build]
  command = "npm ci && npm run build"
  publish = "dist"


[[redirects]]
  from = "/api/*"
  to = "http://campusuce-trade-qa-alb-534881177.us-east-1.elb.amazonaws.com/:splat"
  status = 200
  force = true
