services:
  postgres:
    image: postgres:16-alpine
    container_name: campus-postgres
    environment:
      POSTGRES_DB: campusuce
      POSTGRES_USER: campusuce
      POSTGRES_PASSWORD: campusuce123
    ports:
      - "5432:5432"
    volumes:
      - campus_pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: campus-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
  rabbitmq:
    image: rabbitmq:3-management
    container_name: campus-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped

  n8n:
    image: n8nio/n8n:latest
    container_name: campus-n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_HOST=localhost
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=America/Guayaquil
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: campus-minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    restart: unless-stopped

  mqtt:
    image: eclipse-mosquitto:2
    container_name: campus-mqtt
    ports:
      - "1883:1883"
    volumes:
      - ./docker/mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: campus-zookeeper
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
      - ZOOKEEPER_TICK_TIME=2000
    ports:
      - "2181:2181"
    restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: campus-kafka
    depends_on:
      - zookeeper
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    ports:
      - "9092:9092"
    restart: unless-stopped

  user-service:
    build:
      context: ./services/user-service
    container_name: campus-user-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
    depends_on:
      - postgres
    ports:
      - "8002:8000"

  auth-service:
    build:
      context: ./services/auth-service
    container_name: campus-auth-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - REDIS_URL=redis://redis:6379/0
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
    depends_on:
      - postgres
      - redis
    ports:
      - "8001:8000"

  item-service:
    build:
      context: ./services/item-service
    container_name: campus-item-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
      - SERVICE_ROOT_PATH=/items
      - S3_PUBLIC_ENDPOINT=http://localhost:9000
      - S3_ENDPOINT=http://minio:9000
      
      - S3_BUCKET=campus-media
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin123
      - S3_REGION=us-east-1
    depends_on:
      - postgres
    ports:
      - "8003:8000"  

  reservation-service:
    build:
      context: ./services/reservation-service
    container_name: campus-reservation-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
      - SERVICE_ROOT_PATH=/reservations
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - RABBITMQ_EXCHANGE=campus.events
      - RABBITMQ_EXCHANGE_TYPE=topic
    depends_on:
      - postgres
      - rabbitmq
    ports:
      - "8004:8000"
  notification-service:
    build:
      context: ./services/notification-service
    container_name: campus-notification-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
      - SERVICE_ROOT_PATH=/notifications
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - RABBITMQ_EXCHANGE=campus.events
      - RABBITMQ_QUEUE=q.notification
      - RABBITMQ_BINDINGS=reservation.*
      # n8n (optional for now)
      - N8N_WEBHOOK_URL=http://n8n:5678/webhook/campus-notify
    depends_on:
      - postgres
      - rabbitmq
    ports:
      - "8005:8000"
  chat-service:
    build:
      context: ./services/chat-service
    container_name: campus-chat-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - SERVICE_ROOT_PATH=/chat
    depends_on:
      - postgres
    ports:
      - "8006:8000"

  search-service:
    build:
      context: ./services/search-service
    container_name: campus-search-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - SERVICE_ROOT_PATH=/search
      - S3_ENDPOINT=http://minio:9000
      - S3_PUBLIC_BASE_URL=http://localhost:9000
      - S3_BUCKET=campus-media
      - S3_ACCESS_KEY=minioadmin
      - S3_SECRET_KEY=minioadmin
      - AWS_REGION=us-east-1
    depends_on:
      - postgres
      - minio
    ports:
      - "8008:8000"

  delivery-service:
    build:
      context: ./services/delivery-service
    container_name: campus-delivery-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - SERVICE_ROOT_PATH=/delivery
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
      - MQTT_HOST=mqtt
      - MQTT_PORT=1883
      - MQTT_CLIENT_ID=delivery-service
      - TOPIC_CREATE=campus/delivery/create
      - TOPIC_CONFIRM=campus/delivery/confirm
      - TOPIC_DELIVERED=campus/delivery/delivered
    depends_on:
      - postgres
      - mqtt
    ports:
      - "8007:8016"

  reputation-service:
    build:
      context: ./services/reputation-service
    container_name: campus-reputation-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - SERVICE_ROOT_PATH=/reputation
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
    depends_on:
      - postgres
    ports:
      - "8009:8000"

  traceability-service:
    build:
      context: ./services/traceability-service
    container_name: campus-traceability-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - SERVICE_ROOT_PATH=/traceability
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - KAFKA_TOPIC=campus.audit
      - KAFKA_GROUP_ID=traceability-service
    depends_on:
      - postgres
      - kafka
    ports:
      - "8010:8000"

volumes:
  campus_pgdata:
  n8n_data:
  minio_data:
