services:
  gateway:
    image: nginx:alpine
    container_name: campus-gateway
    ports:
      - "80:80"
    volumes:
      - ./gateway/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - auth-service
      - user-service

  auth-service:
    build:
      context: ./services/auth-service
    container_name: campus-auth-service

  user-service:
    build:
      context: ./services/user-service
    container_name: campus-user-service
