services:
  postgres:
    image: postgres:16-alpine
    container_name: campus-postgres
    environment:
      POSTGRES_DB: campusuce
      POSTGRES_USER: campusuce
      POSTGRES_PASSWORD: campusuce123
    ports:
      - "5432:5432"
    volumes:
      - campus_pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: campus-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
  rabbitmq:
    image: rabbitmq:3-management
    container_name: campus-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped

  user-service:
    build:
      context: ./services/user-service
    container_name: campus-user-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
    depends_on:
      - postgres
    ports:
      - "8002:8000"

  auth-service:
    build:
      context: ./services/auth-service
    container_name: campus-auth-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - REDIS_URL=redis://redis:6379/0
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
    depends_on:
      - postgres
      - redis
    ports:
      - "8001:8000"

  item-service:
    build:
      context: ./services/item-service
    container_name: campus-item-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
      - SERVICE_ROOT_PATH=/items
    depends_on:
      - postgres
    ports:
      - "8003:8000"  

  reservation-service:
    build:
      context: ./services/reservation-service
    container_name: campus-reservation-service
    environment:
      - DATABASE_URL=postgresql+psycopg://campusuce:campusuce123@postgres:5432/campusuce
      - JWT_SECRET=dev_jwt_secret_key
      - JWT_ALGORITHM=HS256
      - SERVICE_ROOT_PATH=/reservations
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - RABBITMQ_EXCHANGE=campus.events
      - RABBITMQ_EXCHANGE_TYPE=topic
    depends_on:
      - postgres
      - rabbitmq
    ports:
      - "8004:8000"

volumes:
  campus_pgdata: