#!/bin/bash
set -euxo pipefail
exec > >(tee /var/log/user-data.log | logger -t user-data -s 2>/dev/console) 2>&1

dnf -y update
dnf -y install nginx

cat > /usr/share/nginx/html/index.html <<'HTML'
<html>
  <head><title>${service}</title></head>
  <body>
    <h1>Hello World</h1>
    <p>Service: ${service}</p>
    <p>Env: ${env}</p>
  </body>
</html>
HTML

systemctl enable --now nginx
systemctl restart nginx
