global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node"
    static_configs:
      - targets:
          - "10.0.4.152:9100"  # ops
          - "10.0.4.129:9100"  # core
          - "10.0.4.188:9100"  # business
          - "10.0.4.116:9100"  # realtime
          - "10.0.4.200:9100"  # middleware