global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node"
    static_configs:
      - targets:
          - "10.0.3.169:9100"  # ops
          - "10.0.4.84:9100"   # core (asg)
          - "10.0.4.187:9100"  # core (asg)
          - "10.0.3.216:9100"  # business
          - "10.0.3.215:9100"  # realtime
          - "10.0.3.220:9100"  # middleware